@charset "utf-8";
/* 
----------------------------------------------------------------
[Table of contents]

 0.Reset
 1.Global
 2.Layout
 3.Header
 4.Navigation
 5.Nodes
 6.Comments
 7.Sidebars
 8.Blocks
 9.Footer
10.CSS Support
11.Advanced

[Font sizes - based on 75%/12px body]
30px = 2.5em
28px = 2.3333em
26px = 2.166667em
24px = 2em
22px = 1.8333em
20px = 1.6667em
18px = 1.5em
16px = 1.333333em
14px = 1.1667em
12px = 1em
11px = .91.6667em
10px = .8333em

----------------------------------------------------------------*/

/**
 * 1.GLOBAL
 */
body {
  color: #333;
  font: 75% "Lucida Grande", Helvetica, Arial, sans-serif;
  line-height: 1.5em;
  margin: 0;
  padding: 0;
}

h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
}

h1 {
  font-size: 2em;
  line-height: 1.2em;
}

h2 {
  font-size: 1.6667em;
  line-height: 1em;
}

h3 {
  font-size: 1.5em;
  line-height: 1.1667em;
}

h4 {
  font-size: 1.1667em;
  line-height: 1.2857em;
}

h5 {
  font-size: 1em;
  line-height: 1.5em;
}

h6 {
  font-size: .91.6667em;
  line-height: 1.6364em;
}

p {
  font-size: 1em;
  line-height: 1.5em;
  margin: 0 0 1em 0;
}

a:link, a:visited, a:hover, a:active, a {
  text-decoration: none;
}

a:hover, a:active, li a.active {
  outline: none;
}

ul,
ol {
  margin-left: 1.5em;
}

li.leaf {
  list-style-image: none;
}

fieldset {
  border: 1px solid #ccc;
  padding: 10px;
}

/**
 * 2.LAYOUT
 */
#page-wrapper {
  width: 980px;
  margin: 0 auto;
}

.column {
  min-height: 10px;
}

#feature,
#subfeature,
#footer {
  position: relative;
}

#page-end {
  width: 980px;
  margin: 0 auto;
  display: block;
}

#main-content {
  margin-bottom: 20px;
}

#content-inset {
  float: right;  
}

.node, .block {
  margin-bottom: 2.5em;
}

.block-region {
  color: #333;
  background: #5adc55;
  background: rgba(90, 220, 85, .75);
  border: 1px dashed #999;
  position: absolute;
  width: 100%; 
  padding: 2px 0;
  z-index: 1;
}

/**
 * 3.HEADER
 */
#site-header, #site-subheader {
  margin-bottom: 0; 
}

#logo {
  float: left;
  margin-right: 10px;
}

/**
 * 4.NAVIGATION
 */
#header-region .block-menu ul {
  float: right;
}
#header-region .block-menu ul li,
#footer .block-menu ul li {
  list-style: none;
  display: -moz-inline-stack;
  display: inline-block;
  zoom: 1;
  *display: inline;
}

/**
 * X.NODES
 */
span.submitted {
  color: #898989;
  font-size: .8333em;
  line-height: .8333em;
  margin: 0 0 10px 0;
  display: block;
}

/**
 * 9.FOOTER
 */
#footer-message {
  text-align: center;
}

/**
 * X.FIELDS
 */
.node h2 {
}

.node .field {
  margin: 0 0 5px 0;
}

.node .field-field-image {
  float: left;
  margin: 0 20px 10px 0;
}

/**
 * X.CURVYCORNERS COMPENSATION
 */
.ccwrapper h2 {
  font-size: 1.8333em;
  line-height: 1em;
  margin: 0 0 .3em 5px;
}

.ccwrapper {
  margin-top: 20px;
}

/**
 * X.CALENDAR
 */
.calendar-calendar td .inner div, .calendar-calendar td .inner div a {
  background: none;
}
.calendar-calendar td div.day {
  border: none;
}
.calendar-calendar div.day {
  background: none;
  border: none;
}
.calendar-calendar th.days {
  border: none;
}
.calendar-calendar td .inner div.calendar div, .calendar-calendar td .inner div.calendar div a {
  background: none;
}
.calendar-calendar td .inner div.day a {
  color: inherit;
}
.calendar-calendar tr td.today, .calendar-calendar tr.odd td.today, .calendar-calendar tr.even td.today {
  background: none;
  border: 2px solid;
}

/**
 * X.MESSAGES
 */
div.messages.status {
  padding: 5px;
  border: 2px darkgreen solid;
  background: lightgreen;
}

div.messages.error {
  padding: 5px;
  border: 2px darkred solid;
  background: lightred;
}

/* admin tables */
body.page-admin table { margin: 1em 0; width: 100%}
body.page-admin thead th { border-bottom: 2px solid #ccc; font-weight: 700; padding:0 1em 0 0; }
body.page-admin tbody { border-top: none; }
body.page-admin td, body.page-admin th { padding: .3em .5em; vertical-align: middle; }
body.page-admin tr.even, body.page-admin tr.odd { border: solid #ccc; border-width: 1px 0; }
body.page-admin tr.odd, body.page-admin tr.info { background-color: #eee; }
body.page-admin tr.even { background-color: #f5f5f5; }
body.page-admin tr.drag { background-color: #fffff0; }
body.page-admin tr.drag-previous { background-color: #ffd; }
td.region, td.module, td.container, td.category { background-color: #ddd; border-bottom: 1px solid #ccc; border-top: 1em solid #fff; color: #666; font-weight: 700; }
tr:first-child td.region, tr:first-child td.module, tr:first-child td.container, tr:first-child td.category { border-top-width: 0; }
body.page-admin table.sticky-header { margin: 0 0 0 1px; }
body.page-admin table.sticky-header th { padding-top: .5em; }
span.form-required { color: #ffae00; }

/**
 * X.TINYMCE STYLING
 */
body#tinymce {
  background: #fff;
}
